@import '../global/variables';

.suit_black {
  color: $black;

  :global([data-color-scheme='dark']) & {
    color: $blue;
  }
}

.suit_red {
  color: $red;

  :global([data-color-scheme='dark']) & {
    color: $pink;
  }
}

.card_row {
  position: fixed;
  bottom: 0;
  width: 100vw;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 9.5vw;

  @media only screen and (min-width: 768px) {
    height: 7vw;
    margin-left: 10px;
  }

  li {
    display: inline-block;
    position: relative;
    border-width: 1px;
    border-radius: 7px;
    border-style: solid;
    width: 10vw;
    height: calc(10vw * 1.5);
    cursor: pointer;
    bottom: 0;
    transition: all 100ms ease-in-out;

    &.flying {
      opacity: 0;
      pointer-events: none;
    }

    &.shake {
      animation: shake 0.32s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
      perspective: 1000px;
    }

    @keyframes shake {
      10%,
      90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%,
      80% {
        transform: translate3d(2px, 0, 0);
      }

      30%,
      50%,
      70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%,
      60% {
        transform: translate3d(4px, 0, 0);
      }
    }

    @media only screen and (min-width: 768px) {
      border-width: 2px;
      margin-left: -20px;
      width: 11vw;
      height: calc(11vw * 1.5);
    }

    .card_button {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      border-radius: 7px;
    }

    div {
      display: flex;
      flex-direction: column;
      padding: 0;
      align-items: center;
      border: none;
      margin: 0;
      height: 60%;
      justify-content: space-around;

      @media only screen and (min-width: 768px) {
        justify-content: flex-start;
        height: 30%;
        padding: 10px;
        flex-direction: row;
      }

      .card_value {
        margin: 0;
        padding: 0;
        font-size: 3.5vw;
        line-height: 0.8;

        @media only screen and (min-width: 768px) {
          margin: 0 0 0 5px;
        }
      }

      span:first-child {
        font-size: 4.2vw;
        margin-bottom: 0.4vw;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        position: relative;
        bottom: 4vw;
      }
    }

    &.selected {
      position: relative;
      bottom: 10vw;

      @media only screen and (min-width: 768px) {
        bottom: 7vw;
      }
    }
  }
}
