@import '../global/variables.scss';

ul.players {
  list-style: none;
  padding: 0;
  margin-bottom: 175px;

  * {
    transition: all 100ms ease-in-out;
  }

  li {
    position: relative;
    margin-bottom: 10vw;

    @media only screen and (min-width: 768px) {
      margin-bottom: 1vw;
    }

    .countdown {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 1;
      z-index: 100000;
      transform: scale(1);
      pointer-events: none;

      .countdown_number {
        display: block;
        animation: yoyo 1s infinite ease-in-out;
        text-align: center;
        font-size: 5vw;
        font-family: $font-bold;
        pointer-events: none;

        @media only screen and (min-width: 768px) {
          font-size: 3vw;
        }
      }

      @keyframes yoyo {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(3);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    button,
    input {
      font-size: 2vw;
      padding: 0 1.5vw;
      border: none;

      @media only screen and (min-width: 768px) {
        font-size: initial;
      }
    }

    h2 {
      padding: 0;
      margin: 0;
      display: inline-block;
      position: relative;
    }

    [data-player-score] {
      position: relative;
    }

    [data-player-score]::before,
    .dealer::after {
      position: absolute;
      bottom: 0;
      font-family: $font-bold;
      font-size: 2vw;

      @media only screen and (min-width: 768px) {
        font-size: 1vw;
      }
    }

    [data-player-score]::before {
      content: attr(data-player-score);
      width: 20px;
      left: -23px;
      text-align: right;
    }

    .dealer::after {
      content: 'dealer';
      bottom: -50%;
      right: 0;
    }

    .current_player {
      padding: 0 20px;
      background-color: black;
      color: white;
      font-style: italic;
    }

    .not_present {
      opacity: 0.5;
      font-style: italic;
    }

    .card {
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: center;
      align-items: center;
      border: none;

      .card_value {
        margin: 0 0 0 5px;
        font-size: 3vw;
        font-family: $font-bold;
      }

      span {
        font-size: 4.2vw;
      }
    }

    .bid_won_text {
      margin: 0;
      padding-right: 2rem;
      font-family: $font-bold;
      font-size: 2.9vw;

      @media only screen and (min-width: 768px) {
        font-size: 1.5vw;
      }
    }

    .player_row {
      min-height: 5vw;

      @media only screen and (min-width: 768px) {
        &.current_player_arrow {
          &::before {
            position: absolute;
            content: '-->';
            left: -6vw;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            font-family: $font-bold;
            font-size: 2vw;
            color: $red;

            :global([data-color-scheme='dark']) & {
              color: $pink;
            }
          }
        }
      }
    }
  }
}

.bid_list_item {
  margin-bottom: 0.5rem;
}

.suit_black {
  color: $black;

  :global([data-color-scheme='dark']) & {
    color: $blue;
  }
}

.suit_red {
  color: $red;

  :global([data-color-scheme='dark']) & {
    color: $pink;
  }
}

.toggle_results {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 100px;
  background-color: transparent !important;
  border: none;
  font-size: 3rem;
  color: inherit;
}

.toggle_button {
  width: 60px;
  height: 60px;
  font-size: 2rem;
}

.bid_button {
  height: 60px;
  font-size: 2rem;
  width: 100px;
}
