:focus-visible {
  outline: 3px solid $blue;
  outline-offset: 2px;
  border-radius: 2px;
}

body {
  font-family: $font-regular;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
svg {
  max-width: 100%;
}

h1 {
  font-family: $font-bold;
  font-size: 6vw;
  line-height: 1;
  margin-bottom: 40px;
  letter-spacing: -0.02em;

  @media only screen and (min-width: 768px) {
    font-size: 4vw;
  }

  // @media only screen and (min-width: 1460px) {
  //   font-size: 4.4vw;
  // }

  // @media only screen and (min-width: 1600px) {
  //   font-size: 4.2vw;
  // }

  // @media only screen and (min-width: 1700px) {
  //   font-size: 4vw;
  // }

  // @media only screen and (min-width: 1800px) {
  //   font-size: 3.8vw;
  // }

  span {
    display: block;
  }

  span.yellow {
    background-color: $yellow;
    display: inline-block;
    padding-left: 0.1em;
    margin-left: -0.1em;
    padding-right: 0.1em;
    margin-right: -0.1em;
    height: 0.93em;

    .inner {
      display: block;
      margin-top: -0.16em;
    }
  }
}

h2 {
  font-family: $font-bold;
  font-size: 4vw;
  margin: 0;

  @media only screen and (min-width: 768px) {
    font-size: 2vw;
  }
}

h3 {
  font-family: $font-bold;
  font-size: 2.9vw;
  margin: 0;

  @media only screen and (min-width: 768px) {
    font-size: 1.5vw;
  }
}

h4 {
  font-size: 1.5vw;

  @media only screen and (min-width: 768px) {
    font-size: 1vw;
  }
}

a {
  color: $red;
  text-decoration: underline;

  &:hover {
    color: $red;
  }
}

input {
  border-radius: 0;
  &[type='button'],
  &[type='submit'] {
    background: $red;
    color: $white;
    font-family: $font-bold;
    border: 0;
    line-height: 30px;
    padding: 3px 30px;
    font-size: 14px;
    width: 100%;

    &:hover {
      background-color: $dark-gray;
    }
  }
}

header {
  padding: 2vw;
  text-align: center;
  margin-bottom: 3vw;
  border-bottom: 1px solid $black;

  @media only screen and (min-width: 768px) {
    margin-bottom: 2.5vw;
  }

  .logo {
    max-width: 30px;
    float: left;

    @media only screen and (min-width: 768px) {
      max-width: 60px;
    }
  }

  button,
  a {
    background: transparent;
    border: 0px;
    color: $red;
    padding: 0;
    font-family: $font-bold;
    font-size: 20px;
    text-decoration: none;
    text-transform: none;

    &.inactive,
    &.inactive:not([href]):not([tabindex]) {
      color: $form-color;
      cursor: text;
    }
  }

  .divider {
    height: 15px;
    width: 3px;
    margin-right: 20px;
    background-color: $black;
    display: inline-block;
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);

  [data-color-scheme='dark'] & {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.spinner-anim-enter {
  opacity: 0.01;
}

.spinner-anim-enter.spinner-anim-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-out;
}

.spinner-anim-leave {
  opacity: 1;
}

.spinner-anim-leave.spinner-anim-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-out;
}

.playing-card {
  background-color: $white;
  border-color: $dark-gray;
}

// Dark mode overrides for custom classes (MUI handles component theming via ThemeProvider)
[data-color-scheme='dark'] {
  .playing-card {
    background-color: $black;
    border-color: $light-black;
  }

  header {
    border-bottom-color: $dark-gray;
  }

  a,
  .player-row::before,
  .player-score::before,
  .player-name::after {
    color: $pink;
  }
}
