/* @styled-jsx=global */
@font-face {
  font-family: 'Roboto_Mono_lt';
  src: url('/fonts/RobotoMono-Light.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto_Mono';
  src: url('/fonts/RobotoMono-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto_Mono_md';
  src: url('/fonts/RobotoMono-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto_Mono_bd';
  src: url('/fonts/RobotoMono-Bold.ttf');
  font-display: swap;
}

$font-regular: 'Roboto_Mono', Arial, sans-serif;
$font-light: 'Roboto_Mono_lt', Arial, sans-serif;
$font-bold: 'Roboto_Mono_bd', Arial, sans-serif;
$font-medium: 'Roboto_Mono_md', Arial, sans-serif;

$red: #db0007;
$red-faded: #d92839;
$yellow: #ffbc0d;
$light-yellow: #ffd463;
$black: #000000;
$charcoal: #2d2d2d;
$light-gray: #f6f6f6;
$dark-gray: #5b5b5b;
$gray: #adadad;
$white: #ffffff;
$form-color: #cdcdcd;
$green: #12aa0c;
