@import "../global/variables.scss";

.game_page {
  padding: 0 5vw;
  position: relative;

  @media only screen and (min-width: 768px) {
    padding: 0 10vw;
  }

  .info_row {
    margin-bottom: 6vw;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4 {
        &:nth-of-type(3) {
          margin: 0;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      margin-bottom: 2vw;
    }

    .lead_trump_container {
      align-items: center;

      img {
        height: 2.5vw;
        width: unset;
        margin-top: 1vw;
      }
    }
  }
  .countdown {
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    opacity: 1;
    z-index: 100000;
    transform: scale(1);
    pointer-events: none;

    h1 {
      animation: yoyo 1s infinite ease-in-out;
      text-align: center;
      font-size: 30vw;
      pointer-events: none;

      @media only screen and (min-width: 768px) {
        font-size: 10vw;
      }
    }

    @keyframes yoyo {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(3);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
