@import '../global/variables';
#home {
  .enter_game_button {
    text-decoration: none;
    font-family: $font-bold;
    font-size: 25px;

    &:hover {
      text-decoration: underline;
    }
  }

  .copied {
    position: absolute;
    bottom: -35px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
  }

  .num_cards {
    text-align: center;
    max-width: 50px;
  }

  input {
    border: none;
    &::placeholder {
      font-style: italic;
    }
  }

  .tab_row {
    display: flex;
    width: 100%;
  }

  .toggle {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-family: $font-bold;
    text-align: center;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;

    &.selected {
      background-color: $black;
      color: $white;
    }
  }
}
