name: Deploy Firebase Functions
on:
  push:
    branches:
      - main
    paths:
      - 'functions/**' # Only runs if you actually changed function code

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci
        working-directory: ./functions

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@v15.7.0
        with:
          args: deploy --only functions,database
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
